@charset "UTF-8";

$headHeight : 50px;
$liHeight : 40px;
$styleColor : rgba(218, 218, 218, .7);
$styleColorOpacity : rgba(219, 219, 219, 1);
* {
  padding: 0;
  margin: 0;
}

.date-selector-locked {
  height: 100%!important;
  overflow: hidden!important;
}

.date-selector-bg {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(75,75,75,0);
  height: 100%;
  width: 100%;
  overflow: hidden;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  z-index: -1;
}

.date-selector-bg-up {
  z-index: 999!important;
  background: rgba(75,75,75,.65)!important;
}

.date-selector-container {
  width: 100%;
  height: 250px;
  position: absolute;
  bottom: 0;
  transform: translate3d(0,250px,0);
  -webkit-transform: translate3d(0,250px,0);
  left: 0;
  background-color: #FFF;
  transition: transform .3s ease;
  -webkit-transition: -webkit-transform .3s ease;
  z-index: -1;
}
.date-selector-container-up {
  transform: translate3d(0,0,0)!important;
  -webkit-transform: translate3d(0,0,0)!important;
}

.date-selector-btn-box {
  display: block;
  position: absolute;
  text-align: center;
  width: 100%;
  height: $headHeight;
  line-height: $headHeight;
  background: $styleColor;
  z-index: 10;
  & .date-selector-btn {
    position: absolute;
    display: inline-block;
    margin: 0 20px;
    color: #fff;
    right: 0;
  }
  & .date-selector-btn:nth-child(1){
    left: 0;
    right: initial;
  }
}

.date-selector-tab-box {
  display: inline-block;
  border-radius: 10px;
  margin: 9px 0;
  height: 32px;
  box-sizing: border-box;
  line-height: 30px;
  color: $styleColor;
  background: #fff;
  border: 1px solid #fff;
  & .date-selector-tab {
    display: inline-block;
    padding: 0 10px;
    transition: all .3s ease;
    &:first-child {
      border-right: 1px solid #fff;
    }
  }
  & .date-selector-tab-active {
    color: #fff;
    border-radius: 10px;
    background: $styleColorOpacity;
  }
}

.date-selector-content-left {
  transform: translate3d(-100%,0,0)!important;
  -webkit-transform: translate3d(-100%,0,0)!important;
}

.date-selector-content-right {
  transform: translate3d(100%,0,0)!important;
  -webkit-transform: translate3d(100%,0,0)!important;
}

.date-selector-content {
  position: absolute;
  width: 100%;
  background: #fff;
  font-size: 0;
  top: 50px;
  z-index: 10;
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  transition: transform .3s ease;
  -webkit-transition: -webkit-transform .3s ease;
  & .date-selector {
    display: inline-block;
    height: $liHeight * 5;
    overflow: hidden;
    position: relative;
    z-index: -1;
  }

  & .date-selector-left {
    width: 33.33%;
  }

  & .date-selector-right{
    width: 50%;
  }

  & ul::-webkit-scrollbar {
    display: none;
  }

  & li {
    height: $liHeight;
    text-align: center;
    font-size: 16px;
    line-height: $liHeight;
    list-style: none;
  }

  & .date-selector-up-shadow, .date-selector-down-shadow {
    width: 100%;
    height: $liHeight * 2;
    position: absolute;
    pointer-events: none;
    background-image: linear-gradient(to bottom, #FFF, rgba(255, 255, 255, 0));
    z-index: 50;
  }

  & .date-selector-up-shadow {
    top: 0;
  }
  & .date-selector-down-shadow {
    bottom: 0;
    z-index: 50;
    background-image: linear-gradient(to top, #FFF, rgba(255, 255, 255, 0));
  }

  .date-selector-line {
    width: 95%;
    height: $liHeight;
    position: absolute;
    top: $liHeight * 2;
    left: 50%;
    pointer-events: none;
    box-sizing: border-box;
    border-top: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
    transform: translate3d(-50%,0,0);
    -webkit-transform: translate3d(-50%,0,0);
  }
}